.app-base-container {
  padding: 20px;
}

.app-base-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}

.app-base-pager {
  margin: 30px 0;
  text-align: right;
}