body {
  min-width: 1280px;
  overflow: auto;
}

.app-layout-con {
  display: flex;
  height: 100vh;

  .app-sidebar-con {
    display: block;
    width: 210px;
    height: 100%;
    background-color: #304156;
    overflow: hidden;

    .el-scrollbar {
      height: 100%;
    }

    .scrollbar-wraper {
      overflow-x: hidden !important;
    }

    .el-menu {
      border: none;
    }

    .el-menu-item {
      height: 48px;
      line-height: 48px;
    }

    .el-submenu__title {
      height: 48px;
      line-height: 48px;
    }

    [class^="jy-icon-"] {
      margin-right: 14px;
      font-size: 16px;
    }
  }

  .app-main-con {
    position: relative;
    flex: 1;
    overflow: auto;
  }

  .app-navbar-box {
    display: block;
    height: 50px;

    &.sticky {
      position: sticky;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .app-main-box {
    display: block;
  }

  .app-main-content {
    display: block;
    overflow: hidden;
  }
}
